numpy<2
torch
torchvision
pandas
matplotlib
seaborn
Pillow
scikit-learn
tqdm
huggingface-hub
efficientnet-pytorch
pyyaml
tensorboard
loralib
transformers
einops
timm
kornia
fvcore
imageio
scipy
scikit-image
simplejson
psutil
opencv-python<4.12
albumentations
imgaug
lmdb
dlib
git+https://github.com/openai/CLIP.git
